@model Presentation.Models.ViewModels.AddStudentViewModel

<form method="post">

<h1>Add Student</h1>
<div class="mt-3">
    <label class="form_label">LastName</label>
    <input type="text" class="form-control" asp-for="LastName" />
</div>

<div class="mt-3">
    <label class="form_label">FirstName</label>
    <input type="text" class="form-control" asp-for="FirstName" />
</div>

<div class="mt-3">
    <label class="form_label">Email</label>
    <input type="email" class="form-control" asp-for="Email" />
</div>

<div class="mt-3">
    <label class="form_label">Phone</label>
    <input type="text" class="form-control" asp-for="Phone" />
</div>

<div class="mt-3">
    <label class="form_label">Address</label>
    <input type="text" class="form-control" asp-for="Address" />
</div>

<div class="mt-3">
    <button type="submit" class="btn btn-primary">Add</button>
</div>

</form>
